# Compiled class file
*.class

# Log file
*.log

# Build tools
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.pytest_cache/

# Application specific
uploads/
src/main/resources/
